{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사회과학대학</title>
    <link rel=icon href="{% static 'reservation/titlelogo.png' %}" sizes="16x16" type="image/png">
    <!-- <link rel="stylesheet" href="{% static 'reservation/main.css' %}"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    {% comment %} 부트스트랩을 활용하여 손쉽게 만들기 {% endcomment %}
    <div class="container">
        <form action="{% url 'create' %}"> 
            <div class="input-group mb-3" style="width:21em;">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">스터디룸</label>
            </div>
            <select name="room_type" class="custom-select" id="room_type" required>
                <option value="{{room_type}}" selected>{{room_type}}</option>
                {% if room_type == '1A' %}
                    <option value="3A">3A</option>
                    <option value="3B">3B</option>                    
                {% elif room_type == '3A' %}
                    <option value="1A">1A</option>
                    <option value="3B">3B</option>                                    
                {% elif room_type == '3B' %}
                    <option value="1A">1A</option>
                    <option value="3A">3A</option>                    
                {% endif %}

            </select>
            </div>
            <input name="user" value="{{user.username}}" type="hidden"/>
            <div class="input-group flex-nowrap" style="width:21em;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">예약날짜</span>
                </div>
                <input id="room_date" type="date" name="room_date" class="form-control" placeholder="연도-월-일" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="{{min_date}}" max="{{max_date}}">
            </div>
            <button class="btn btn-danger" id="room_check">조회</button>

            <div class="input-group flex-nowrap" style="width:21em;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">시작시간</span>
                </div>
                <input required type="time" name="room_start_time" class="form-control" placeholder="오전 09:00" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="" max="">
            </div>

            <div class="input-group flex-nowrap" style="width:21em;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">종료시간</span>
                </div>
                <input required type="time" name="room_finish_time" class="form-control" placeholder="오후 09:00" aria-label="Username" aria-describedby="addon-wrapping" data-date-inline-picker="true" min="" max="">
            </div>

            <button type="submit" class="btn btn-danger">예약</button>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $("#room_check").click(function(){
        var room_type = $('#room_type').val();
        var room_date = $('#room_date').val();

        $.ajax({ // ajax로 서버와 통신하겠다.
            type: "POST", // 데이터를 전송하는 방법을 지정
            url: "{% url 'check' %}", // 통신할 url을 지정
            data: {'room_type': room_type, 'room_date': room_date, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
            // 서버측에서 전송한 Response 데이터 형식 (json)
            // {'likes_count': post.like_count, 'message': message }
            success: function(response){ // 통신 성공시 - 동적으로 좋아요 갯수 변경, 유저 목록 변경
                alert("통신 성공");
            },
            error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
                alert("에러");
            },
        });
    })
</script>