<h1>Sign Up!</h1>

<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}


    학과:
    <br>
    <select name="department">
        <option value="">소속학과</option>
        <option value="정치외교학과">정치외교학과</option>
        <option value="사회학과">사회학과</option>
        <option value="지리학과">지리학과</option>
        <option value="문헌정보학과">문헌정보학과</option>
        <option value="심리학과">심리학과</option>
        <option value="사회복지학부">사회복지학부</option>
        <option value="신문방송학과">신문방송학과</option>
    </select>
    <br>
    학번:
    <br>
    <input name="username"" type="text" value="">
    <br>    
    이름:
    <br>
    <input name="realname" type="text" value="">
    <br>
    Email(KNU 웹메일 아이디):
    <br>
    <input name="email" type="text" value="" placeholder="id">@<input name="email" type="email" value="knu.ac.kr" disabled>
    <br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br>
    

    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>

